### importing libraries

In [76]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## importing the csv file "Smarket.csv" into a variable data

In [11]:
data=pd.read_csv("Smarket.csv",index_col=0)

In [12]:
#shape of the dataframe
data.shape

(1250, 9)

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1250 entries, 1 to 1250
Data columns (total 9 columns):
Year         1250 non-null int64
Lag1         1250 non-null float64
Lag2         1250 non-null float64
Lag3         1250 non-null float64
Lag4         1250 non-null float64
Lag5         1250 non-null float64
Volume       1250 non-null float64
Today        1250 non-null float64
Direction    1250 non-null object
dtypes: float64(7), int64(1), object(1)
memory usage: 97.7+ KB

In [15]:
data.head()

   Year   Lag1   Lag2   Lag3   Lag4   Lag5  Volume  Today Direction
1  2001  0.381 -0.192 -2.624 -1.055  5.010  1.1913  0.959        Up
2  2001  0.959  0.381 -0.192 -2.624 -1.055  1.2965  1.032        Up
3  2001  1.032  0.959  0.381 -0.192 -2.624  1.4112 -0.623      Down
4  2001 -0.623  1.032  0.959  0.381 -0.192  1.2760  0.614        Up
5  2001  0.614 -0.623  1.032  0.959  0.381  1.2057  0.213        Up

In [16]:
data.Year.value_counts()

2005    252
2004    252
2003    252
2002    252
2001    242
Name: Year, dtype: int64

In [20]:
#from pandas.tseries.offsets import *

In [75]:
#pd.date_range(start='2002-01-01',end='2002-12-31',freq=BDay())

### Dividing the dataset into training and testing

In [64]:
X_train=data.loc[:998,'Lag1':'Today'].values
X_train.shape

(998, 7)

In [65]:
y_train=data.loc[:998,'Direction'].values
y_train.shape

(998,)

In [66]:
X_test=data.loc[999:,'Lag1':'Today'].values
X_test.shape

(252, 7)

In [67]:
y_test=data.loc[999:,'Direction'].values
y_test.shape

(252,)

### importing libraray Linear discriminant analysis from scikit learn module

In [68]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

In [69]:
lda = LinearDiscriminantAnalysis()
lda.fit(X_train, y_train)
y_pred=lda.predict(X_test)

In [70]:
#a=y_pred==y_test

In [71]:
#np.sum(a)

In [72]:
#242/250

### making the confusion matrix

In [73]:
from sklearn.metrics import confusion_matrix

In [74]:
confusion_matrix(y_test, y_pred)

array([[110,   1],
       [  7, 134]])

In [78]:
(110+134)/252

0.9682539682539683

### The accuracy of the model is 96.82